html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: #191765;
  margin: 0;
  background-size: contain;
  padding: 0;
  width: 100%;
  animation-name: Body_change;
  animation-duration: 2s;
}

@keyframes Body_change {
  from {
    background: #0d1513;
    transition: 350ms;
  }

  to {
    background: #191765;
    transition: 350ms ease-in;
  }
}

/* My coding partners animation Body_change */

@media (max-width: 768px) {
  html body {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .mobile-container {
    display: flex;
    flex-direction: column;
  }

  .mobile-container .top_left {
    position: absolute;
    width: 180px;
    height: 180px;
    left: -140px;
    top: 60px;
    background: #edecff;
    filter: blur(22px);
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }

  .mobile-container .top_right {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 570px;
    left: 100%;
    background: #edecff;
    filter: blur(20px);
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }

  .mobile-container .top {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    letter-spacing: 0.03em;
    width: 100%;
    gap: 0;
  }

  .mobile-container .top .nav1 .nav-menu {
    position: fixed;
    display: flex;
    top: 40px;
    flex-direction: column;
    text-align: left;
    transition: 0.3s ease-in-out;
    background-color: #191765;
    width: 100%;
    height: 100%;
    gap: 60px;
    left: -120%;
  }

  .mobile-container .top .nav1 .nav-link {
    position: relative;
    top: 40px;
    font-size: 30px;
  }

  .mobile-container .top .nav1 .nav-menu.active {
    left: 0%;
    z-index: 1;
    background-image: url(./images/shapes-menu.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .mobile-container .top .nav1 .nav-email {
    display: none;
  }

  .mobile-container .head {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .mobile-container .top .hamburger {
    display: block;
    margin-left: 200px;
  }

  .mobile-container .top .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

  .mobile-container .top .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .mobile-container .top .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) skewY(45deg);
  }

  .mobile-container .top .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) skewY(-45deg);
  }

  .mobile-container .head .main_head {
    width: 350px;
    height: 55px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 48px;
    line-height: 72px;
    color: #7d73fc;
    letter-spacing: 0.37px;
    text-align: center;
  }

  .mobile-container .head .support_head {
    justify-content: center;
    justify-content: space-evenly;
    width: 350px;
    height: 87px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #edecff;
    text-align: center;
    margin-left: 0;
  }

  .mobile-container .head .main_text {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-left: 10px;
    width: 300px;
    height: 170px;
    color: #c8c8d4;
    margin-left: 0;
  }

  .mobile-container .head .divider {
    position: absolute;
    width: 327px;
    height: 0;
    border: 1px solid #646369;
    justify-content: center;
    align-items: center;
    top: 566px;
    left: 25px;
  }

  .mobile-container .head .divider img {
    display: none;
  }

  .mobile-container .head .language {
    display: block;
    position: relative;
    left: 40px;
  }

  .mobile-container .head .language .list {
    font-size: 20px;
    color: #9490ff;
  }

  .mobile-container .head .language li {
    display: flex;
    position: relative;
    margin-top: 25px;
    left: -170px;
    font-size: 18px;
    list-style: none;
    color: #edecff;
  }

  .mobile-container .head .framework {
    position: relative;
    left: 70px;
    top: -245px;
  }

  .mobile-container .head .framework .list {
    font-size: 20px;
    color: #9490ff;
  }

  .mobile-container .head .framework li {
    font-size: 18px;
    list-style: none;
    color: #edecff;
  }

  .mobile-container .head .skill {
    position: relative;
    left: -130px;
    top: -230px;
  }

  .mobile-container .head .skill .list {
    color: #9490ff;
    font-size: 20px;
  }

  .mobile-container .head .skill li {
    margin-top: 25px;
    font-size: 18px;
    list-style: none;
    color: #edecff;
  }

  .mobile-container .head .divider2 {
    display: flex;
    position: relative;
    width: 327px;
    height: 0;
    border: 1px solid #646369;
    justify-content: center;
    align-items: center;
    top: -200px;
  }

  .mobile-container .head .divider2 img {
    display: none;
  }

  .mobile-container .head .icons {
    display: flex;
    position: relative;
    flex-direction: row;
    float: inline-start;
    justify-content: center;
    gap: 21px;
    top: -150px;
    left: 0;
  }

  .mobile-container .head .icons img {
    height: 20px;
    width: 17.99px;
  }

  .mobile-container .head .work-icon1 {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    color: #b3bac5;
    text-decoration: none;
    width: 60px;
    height: 32px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    left: 0;
    top: -100px;
  }

  .mobile-container .head .work-icon2 {
    display: none;
  }
}

.mobile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hamburger {
  display: none;
}

.top_left {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 2%;
  top: 237px;
  background: #edecff;
  border-radius: 50%;
  filter: blur(50px);
}

.top_right {
  position: absolute;
  width: 230px;
  height: 230px;
  top: 500px;
  left: 80%;
  background: #edecff;
  border-radius: 50%;
  filter: blur(50px);
}

.top {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  justify-content: space-between;
  width: 100%;
}

.nav1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 40px;
}

.nav-menu {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 25px;
}

.nav-item {
  line-height: 16px;
  width: 100%;
  list-style: none;
}

@media only screen and (min-width: 768px) {
  .top .nav {
    display: none;
  }

  .mobile-container .Contact-form .indicator {
    display: none;
  }

  .Contact-form .name {
    display: none;
  }
}

.top a:link {
  color: white;
  position: relative;
  text-decoration: none;
  line-height: 16px;
  left: 20px;
}

.top a:visited {
  color: white;
  text-decoration: none;
}

nav:hover {
  color: white;
  background-color: #9490ff;
}

.head {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}

.head .main_head {
  width: 700px;
  position: relative;
  height: 96px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 105px;
  flex-direction: row;
  text-align: center;
  color: #b6b4ff;
  animation-name: head_change;
  animation-duration: 20s;
}

.head .support_head {
  display: flex;
  width: 370px;
  height: 72px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  align-items: center;
  text-align: center;
  color: #dfe1e6;
  margin-left: 170px;
}

.head .main_text {
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  width: 447px;
  height: 155px;
  color: #c8c8d4;
  margin-left: 130px;
}

.divider img {
  width: 448px;
  position: relative;
  height: 0;
  border: 1px solid #646369;
  left: 130px;
}

.language {
  display: block;
  position: relative;
  left: 90px;
}

.language .list {
  width: 107px;
  height: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #9390ff;
}

.language li {
  margin-top: 30px;
  list-style: none;
  color: #edecff;
}

.framework {
  display: block;
  position: relative;
  left: 280px;
  top: -258px;
}

.framework .list {
  width: 107px;
  height: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #9390ff;
}

.framework li {
  margin-top: 30px;
  list-style: none;
  color: #edecff;
}

.skill {
  display: block;
  position: relative;
  left: 490px;
  top: -550px;
}

.skill .list {
  width: 107px;
  height: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #9390ff;
  margin-top: 15px;
}

.skill li {
  margin-top: 30px;
  list-style: none;
  color: #edecff;
}

.divider2 img {
  width: 448px;
  position: relative;
  height: 0;
  border: 1px solid #646369;
  left: 130px;
  top: -540px;
}

.icons img {
  height: 20px;
  width: 17.99px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -450px;
  left: 0;
  gap: 21px;
}

@keyframes head_change {
  from {
    color: #0d1513;
  }

  to {
    color: #9390ff;
  }
}

/* My animation head_change */

.work-icon1 {
  position: relative;
  display: flex;
  gap: 10px;
  color: #b3bac5;
  text-decoration: none;
  width: 60px;
  height: 32px;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  top: -480px;
  left: -200px;
}

.work-icon2 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  color: #b3bac5;
  text-decoration: none;
  width: 60px;
  height: 32px;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  top: -510px;
  left: 800px;
}

@media screen and (max-width: 768px) {
  .mobile-container .Project_work {
    display: block;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
  }

  .mobile-container .Project_work .work {
    width: 300px;
    justify-content: center;
    align-items: center;
    color: #9490ff;
    height: 104px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    order: 0;
    margin-left: 60px;
  }

  .mobile-container .Project_work .divider {
    width: 327px;
    height: 0;
    border: 1px solid #646369;
    justify-content: center;
    align-items: center;
    order: 0;
    margin-left: 60px;
  }

  .mobile-container .Project_work .workform1 .Placeholder {
    order: 0;
    width: 327px;
    height: 236px;
    background: linear-gradient(0deg, white, white);
    margin-left: 60px;
  }

  .mobile-container .Project_work .workform2 .Placeholder {
    order: 0;
    width: 327px;
    height: 236px;
    background: linear-gradient(0deg, white, white);
  }

  .mobile-container .Project_work .workform3 .Placeholder {
    order: 0;
    width: 327px;
    height: 236px;
    background: linear-gradient(0deg, white, white);
  }

  .mobile-container .Project_work .workform4 .Placeholder {
    order: 0;
    width: 327px;
    height: 236px;
    background: linear-gradient(0deg, white, white);
  }

  .mobile-container .Project_work .workform1 {
    display: block;
    margin-left: 0%;
  }

  .mobile-container .Project_work .workform1 .workplace1 {
    display: block;
    margin-left: 0%;
  }

  .mobile-container .Project_work .workform1 .posted {
    order: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: rgb(255, 255, 255);
    padding: 0%;
    margin-left: 15%;
  }

  .mobile-container .Project_work .workform1 .text {
    order: 0;
    width: 320px;
    height: 204px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 28px;
    color: #dcdce8;
    margin-top: -70px;
    margin-left: 15%;
  }

  .mobile-container .Project_work .workform1 .techstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: #fff;
    margin-left: 60px;
    width: 200px;
  }

  .mobile-container .Project_work .workform1 .techstack img {
    width: 1px;
    height: 40px;
    background: #555;
    margin: 0%;
  }

  .mobile-container .Project_work .workform1 button {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 89px;
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #edecff;
    background-color: #7d73fc;
    border: none;
    margin-top: 30px;
    margin-left: 60px;
  }

  .mobile-container .Project_work .workform2 {
    display: block;
  }

  .mobile-container .Project_work .workform2 .workplace2 {
    display: block;
    margin-top: 20px;
  }

  .mobile-container .Project_work .workform2 .posted {
    order: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: white;
    margin-top: 20px;
  }

  .mobile-container .Project_work .workform2 .text {
    order: 0;
    width: 327px;
    height: 204px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 28px;
    color: #dcdce8;
    margin-top: 30px;
  }

  .mobile-container .Project_work .workform2 .techstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: #fff;
  }

  .mobile-container .Project_work .workform2 .techstack img {
    width: 1px;
    height: 40px;
    background: #555;
  }

  .mobile-container .Project_work .workform2 button {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 89px;
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #edecff;
    background-color: #7d73fc;
    border: none;
    margin-top: 30px;
  }

  .mobile-container .Project_work .workform3 {
    display: block;
  }

  .mobile-container .Project_work .workform3 .workplace3 {
    display: block;
    margin-left: 0%;
  }

  .mobile-container .Project_work .workform3 .posted {
    order: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: white;
    margin-top: 30px;
  }

  .mobile-container .Project_work .workform3 .text {
    order: 0;
    width: 327px;
    height: 204px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 28px;
    color: #dcdce8;
    margin-top: 30px;
  }

  .mobile-container .Project_work .workform3 .techstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: #fff;
  }

  .mobile-container .Project_work .workform3 .techstack img {
    width: 1px;
    height: 40px;
    background: #555;
  }

  .mobile-container .Project_work .workform3 button {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 89px;
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #edecff;
    background-color: #7d73fc;
    border: none;
    margin-top: 30px;
  }

  .mobile-container .Project_work .workform4 {
    display: block;
  }

  .mobile-container .Project_work .workform4 .posted {
    order: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: white;
    margin-top: 30px;
  }

  .mobile-container .Project_work .workform4 .text {
    order: 0;
    width: 327px;
    height: 204px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 28px;
    color: #dcdce8;
    margin-top: 20px;
  }

  .mobile-container .Project_work .workform4 .techstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: #fff;
  }

  .mobile-container .Project_work .workform4 .techstack img {
    width: 1px;
    height: 40px;
    background: #555;
  }

  .mobile-container .Project_work .workform4 button {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 89px;
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #edecff;
    background-color: #7d73fc;
    margin-top: 30px;
    border: none;
  }

  .mobile-container .ellipse_19 {
    order: 0;
    position: absolute;
    width: 39.61px;
    height: 482.57px;
    top: 1700px;
    left: 0;
    background: #edecff;
    filter: blur(25px);
    transform: rotate(-36.38deg);
  }

  .mobile-container .ellipse_20 {
    order: 0;
    mix-blend-mode: lighten;
    position: absolute;
    width: 70.28px;
    height: 261.6px;
    top: 2550px;
    left: 300px;
    background: #edecff;
    filter: blur(20px);
    border-radius: 50%;
    margin: 0;
    padding: 0;
    transform: matrix(-1, -0.1, -0.54, 0.84, 0, 0);
  }

  .mobile-container .ellipse_21 {
    order: 0;
    position: absolute;
    width: 250px;
    height: 155px;
    left: -50px;
    top: 3350px;
    border-radius: 50%;
    background: rgba(237, 236, 255, 0.3);
    filter: blur(30px);
    margin: 0;
    padding: 0;
  }

  .mobile-container .ellipse_22 {
    order: 0;
    position: absolute;
    width: 120px;
    height: 140px;
    left: 300px;
    top: 4050px;
    background: #edecff;
    filter: blur(30px);
    transform: matrix(-0.26, 0.77, 1, 0.4, 0, 0);
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }
}

.Project_work .work {
  justify-content: center;
  align-items: center;
  color: #9490ff;
  height: 114px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 114px;
  order: 0;
}

.Project_work .divider {
  position: relative;
  height: 0;
  border: 1px solid #646369;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  order: 0;
}

.Project_work .workform1 {
  display: flex;
}

.Project_work .workform1 .Placeholder {
  width: 684px;
  height: 448px;
}

.Project_work .workform1 .workplace1 {
  display: block;
  margin-left: 30px;
  margin-bottom: 50px;
}

.Project_work .workform1 .posted {
  order: 0;
  width: 448px;
  height: 105px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 200px;
  align-items: center;
  color: #fff;
}

.Project_work .workform1 .text {
  order: 0;
  width: 448px;
  height: 140px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dfe1e6;
}

.Project_work .workform1 .techstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  list-style: none;
  color: #fff;
}

.Project_work .techstack img {
  width: 1px;
  height: 40px;
  background: #555;
}

.Project_work .workform1 button {
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 89px;
  height: 38px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #edecff;
  background-color: #7d73fc;
  margin-bottom: 40px;
  margin-left: 20px;
  border: none;
}

.Project_work .workform2 {
  display: flex;
  flex-direction: row-reverse;
}

.Project_work .workform2 .workplace2 {
  display: block;
}

.Project_work .workform2 .Placeholder {
  width: 684px;
  height: 448px;
}

.Project_work .workform2 .posted {
  order: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 200px;
  align-items: center;
  color: #fff;
  margin: 0%;
  padding: 0%;
}

.Project_work .workform2 .text {
  order: 0;
  margin: 0%;
  padding: 0%;
  width: 448px;
  height: 140px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dfe1e6;
}

.Project_work .workform2 .techstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  list-style: none;
  color: #fff;
  padding: 0%;
}

.Project_work .workform2 button {
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 89px;
  height: 38px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #edecff;
  background-color: #7d73fc;
  border: none;
}

.Project_work .workform3 {
  display: flex;
  margin: 100px;
}

.Project_work .workform3 .Placeholder {
  width: 684px;
  height: 448px;
}

.Project_work .workform3 .workplace3 {
  display: block;
  margin-left: 30px;
}

.Project_work .workform3 .posted {
  order: 0;
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 200px;
  align-items: center;
  color: #fff;
}

.Project_work .workform3 .text {
  order: 0;
  width: 448px;
  height: 140px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dfe1e6;
  margin: 0;
  padding: 0%;
}

.Project_work .workform3 .techstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  list-style: none;
  color: #fff;
  padding: 0%;
}

.Project_work .workform3 button {
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 89px;
  height: 38px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #edecff;
  background-color: #7d73fc;
  border: none;
}

.Project_work .workform4 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 100px;
  align-items: center;
}

.Project_work .workform4 .workplace4 {
  display: block;
}

.Project_work .workform4 .Placeholder {
  width: 684px;
  height: 448px;
}

.Project_work .workform4 .posted {
  order: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 200px;
  color: #fff;
  margin: 0%;
  padding: 0%;
}

.Project_work .workform4 .text {
  order: 0;
  width: 448px;
  height: 140px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dfe1e6;
  margin: 0;
  padding: 0;
}

.Project_work .workform4 .techstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  list-style: none;
  color: #fff;
  padding: 0%;
  margin: 0%;
}

.Project_work .workform4 button {
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 89px;
  height: 38px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #edecff;
  background-color: #7d73fc;
  border: none;
}

.ellipse_19 {
  position: absolute;
  width: 80px;
  height: 600px;
  left: 0%;
  top: 1870px;
  background: #edecff;
  filter: blur(20px);
  border-radius: 50%;
  transform: rotate(-36.38deg);
  z-index: -1;
}

.ellipse_20 {
  position: absolute;
  width: 108px;
  height: 402px;
  left: 100%;
  top: 3300px;
  background: #edecff;
  filter: blur(40px);
  border-radius: 50%;
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  z-index: -1;
}

.ellipse_21 {
  position: absolute;
  width: 308px;
  height: 155px;
  left: -10%;
  top: 2700px;
  background: #edecff;
  filter: blur(40px);
  border-radius: 50%;
}

.ellipse_22 {
  position: absolute;
  width: 200.19px;
  height: 716.38px;
  left: 80%;
  top: 2620px;
  border-radius: 60%;
  background: #edecff;
  filter: blur(50px);
  transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
}

@media screen and (max-width: 768px) {
  .mobile-container .Contact-form h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #9390ff;
    order: 0;
  }

  .mobile-container .Contact-form p {
    width: 308px;
    height: 105px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #f5f5ff;
    order: 0;
  }

  .mobile-container .form-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    order: 0;
  }

  .mobile-container .Contact-form .form-info .Name {
    display: none;
  }

  .mobile-container .Contact-form .form-info .name {
    width: 327px;
    height: 48px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    order: 0;
  }

  .mobile-container .Contact-form .form-info .email {
    width: 327px;
    height: 48px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    order: 0;
  }

  .mobile-container .form-info input:invalid {
    box-shadow: 0 0 5px 1px red;
  }

  .mobile-container .Contact-form .form-info .textareabox {
    width: 327px;
    height: 148px;
    border: none;
    outline: none;
    order: 0;
  }

  .mobile-container .form-info textarea:invalid {
    box-shadow: 0 0 5px 1px red;
  }

  .mobile-container .Contact-form .button {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 89px;
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #edecff;
    background-color: #7d73fc;
    border: none;
    transition: 2s;
    cursor: pointer;
    order: 0;
  }

  .mobile-container .button:hover {
    background: #7d73fc;
    box-shadow: 0 8px 30px rgba(125, 115, 252, 0.48);
    color: #edecff;
  }

  .mobile-container .Contact-form .large_divider {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #3a3837;
    top: 5800px;
    order: 0;
  }

  .mobile-container .Contact-form .icons-bottom {
    display: block;
    text-align: center;
    order: 0;
    margin-bottom: 60px;
  }

  .mobile-container .Contact-form .icons-bottom img {
    height: 20px;
    width: 17.99px;
  }

  .mobile-container .Contact-form .indicator {
    position: absolute;
    width: 134px;
    height: 5px;
    bottom: 8px;
    background: #0d1513;
    border-radius: 10px;
    order: 0;
  }

  .mobile-container .Contact-form .email-link {
    height: 29px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    order: 0;
  }
}

.Contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.Contact-form h2 {
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #9390ff;
  order: 0;
}

.Contact-form p {
  height: 61px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #f5f5ff;
  order: 0;
}

.form-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 0;
  gap: 25px;
}

.form-info .Name {
  display: flex;
  height: 48px;
  margin-bottom: 24px;
  border-radius: 2px;
  padding-left: 10px;
  outline: none;
  gap: 20px;
  width: 700px;
}

.form-info input:required {
  width: 700px;
  height: 48px;
  border-radius: 2px;
  padding: 10px;
}

.form-info textarea:required {
  width: 700px;
  height: 148px;
  border-radius: 2px;
  outline: none;
  padding: 10px;
  margin-top: 25px;
  order: 0;
}

.Contact-form .button {
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 160px;
  height: 48px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #edecff;
  background-color: #7d73fc;
  border: none;
  transition: 0.5s;
  cursor: pointer;
  order: 0;
}

.button:hover {
  background: #7d73fc;
  box-shadow: 0 8px 30px rgba(125, 115, 252, 0.48);
  color: #edecff;
}

.Contact-form .large-divider {
  position: absolute;
  top: 4700px;
  height: 1px;
  background: #3a3837;
}

.Contact-form .icons-bottom {
  display: flex;
  justify-content: space-between;
}

.Contact-form .email-link {
  height: 29px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: white;
  order: 0;
  margin-left: 40px;
}

.Contact-form .icons-bottom img {
  height: 20px;
  width: 17.99px;
  margin-left: 30px;
}

/* end of code */
